# Application
APP_NAME=NextPress
APP_ENV=development
APP_PORT=9090

# Database
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nextpress
DB_USER=postgres
DB_PASSWORD=secret
DB_SSLMODE=disable

# JWT
JWT_SECRET=dev-secret-change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h